.footer__instagram img{
    height: 60px;
}
.offer__icon {
    height: 30px;
    margin-right: 10px;
  }
  
.offer__icon img{
    height: 40px;
}

.ht-portfolio-full-image img{
    width: 150%;
    height: 150%;
}